{%- liquid
  assign article = section.settings.article
  if article == null
    assign placeholder = true
  endif
-%}

{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-product.css' | asset_url | stylesheet_tag }}
{{ 'featured-article.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }} .featured-article {
    padding: {{ section.settings.article_padding | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .section-{{ section.id }} .featured-article .article-media img {
      max-height: {{ section.settings.max_height | times: 2 | round: 0 }}rem;
    }
  }
{%- endstyle -%}

<section class="{% if section.settings.secondary_background %}background-secondary{% else %}gradient{% endif %}">
  <div class="page-width-desktop section-{{ section.id }}{% if section.settings.secondary_background %} isolate{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="featured-article color-{{ section.settings.color_scheme }} product--{{ section.settings.media_position }}{% if section.settings.secondary_background == false %} isolate{% endif %}">
      <div class="grid__item product__media-wrapper">
        <div class="product__media-item">
          <div
            class="article-media-container global-media-settings gradient"
            style="--ratio: 1.0; --preview-ratio: 1.0;"
          >
            <div class="article-media" style="--ratio: 1.0; --preview-ratio: 1.0;">
              {%- unless placeholder -%}
                {% if article.image != blank %}
                  {{
                    article.image
                    | image_url: width: 1500
                    | image_tag:
                      loading: 'lazy',
                      sizes: '(min-width: 1600px) 750px, (min-width: 750px) calc(50vw), 100vw',
                      widths: '165,360,535,750,1070,1500',
                      class: 'media__element'
                  }}
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endunless -%}
            </div>
          </div>
        </div>
      </div>

      <div class="product__info-wrapper grid__item">
        <div class="product__info-container">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'title' -%}
                <h2 class="product__title {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                  {%- unless placeholder -%}
                    {{ block.settings.selected_title | escape }}
                  {%- else -%}
                    {{ 'sections.featured_blog.onboarding_title' | t }}
                  {%- endunless -%}
                </h2>
              {%- when 'text' -%}
                <div
                  class="product__text inline-richtext{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
                  style="-webkit-line-clamp: {{ block.settings.line_limit }};"
                  {{ block.shopify_attributes }}
                >
                  {{- block.settings.text -}}
                </div>
              {%- when 'button' -%}
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.button_label | escape }}
                  </a>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.featured-article.name",
  "tag": "section",
  "class": "section section-featured-product",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "article",
      "id": "article",
      "label": "t:sections.featured-article.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "secondary_background",
      "default": false,
      "label": "t:sections.featured-product.settings.secondary_background.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-product.settings.header.content"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.featured-product.settings.media_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.featured-product.settings.media_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.featured-product.settings.media_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.main-article.blocks.featured_image.name"
    },
    {
      "type": "range",
      "id": "article_padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.section_padding_heading",
      "default": 36
    },
    {
      "type": "range",
      "id": "max_height",
      "min": 8,
      "max": 20,
      "step": 1,
      "unit": "rem",
      "label": "t:sections.image-banner.settings.image_height.label",
      "default": 20
    },
    {
      "type": "range",
      "id": "max_height_mobile",
      "min": 8,
      "max": 16,
      "step": 1,
      "unit": "rem",
      "label": "t:sections.image-banner.settings.mobile.content",
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.featured-product.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.featured-product.blocks.text.settings.text.default",
          "label": "t:sections.featured-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.featured-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.featured-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.featured-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.featured-product.blocks.text.settings.text_style.label"
        },
        {
          "type": "range",
          "id": "line_limit",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "t:sections.main-product.blocks.text.settings.text.default",
          "default": 4
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.featured-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "selected_title",
          "label": "t:sections.featured-product.blocks.title.name",
          "default": "{{ section.settings.article.title }}"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-article.name",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
