{% assign related_slider_id = 'Slider-' | append: section.id | append: '-related' %}

{% liquid
  assign author_names = null
  for tag in product.tags
    unless tag == 'NOMEAUTOR_AAVV'
      if tag contains 'NOMEAUTOR_'
        assign clean_author_name = tag | replace: 'NOMEAUTOR_', ','
        assign author_names = author_names | append: clean_author_name
      endif
    endunless
  endfor

  assign author_names = author_names | remove_first: ',' | split: ','

  assign subcategory_handle = product.metafields.custom.subcategory | handle

  if subcategory_handle == blank
    for tag in product.tags
      if tag contains 'TEMA_'
        assign subcategory_handle = tag | remove: 'TEMA_' | handle
        break
      endif
    endfor
  endif

  assign filtered_products_recommendations = collections[subcategory_handle].products | reject: 'handle', product.handle | reject: 'available', false
  assign ebooks_ids_to_remove = ''

  for recommendation in filtered_products_recommendations
    if recommendation.tags contains 'TIPO_EBOOK'
      assign renamed_id = ',' | append: recommendation.id
      assign ebooks_ids_to_remove = ebooks_ids_to_remove | append: renamed_id
    endif
  endfor

  assign first_author_name_handle = author_names.first | strip | handleize
  assign first_alt_author_name_handle = 'colecao-' | append: first_author_name_handle
  assign first_alt_author_name_handle_2 = 'colecao-' | append: first_alt_author_name_handle
  assign first_alt_author_name_handle_3 = first_alt_author_name_handle | append: '-1'
  assign unfiltered_products = collections[first_alt_author_name_handle].products | default: collections[first_author_name_handle].products | default: collections[first_alt_author_name_handle_2].products | default: collections[first_alt_author_name_handle_3].products

  for current_author in author_names
    if forloop.first
      continue
    endif

    assign author_name_handle = current_author | strip | handleize
    assign alt_author_name_handle = 'colecao-' | append: author_name_handle
    assign alt_author_name_handle_2 = 'colecao-' | append: alt_author_name_handle
    assign alt_author_name_handle_3 = alt_author_name_handle | append: '-1'
    assign author_collection_products = collections[alt_author_name_handle].products | default: collections[author_name_handle].products | default: collections[alt_author_name_handle_2].products | default: collections[alt_author_name_handle_3].products

    if author_collection_products.size > 0
      assign unfiltered_products = unfiltered_products | concat: author_collection_products
    endif
  endfor

  if product
    assign unfiltered_products = unfiltered_products | reject: 'title', product.title
  endif

  assign unique_products_ids = unfiltered_products | uniq | compact | where: 'available', true | map: 'id'

  for unique_product_id in unique_products_ids
    assign renamed_id = ',' | append: unique_product_id
    assign ebooks_ids_to_remove = ebooks_ids_to_remove | append: renamed_id
  endfor

  assign ebooks_ids_array = ebooks_ids_to_remove | split: ','

  for ebook_id in ebooks_ids_array
    unless ebook_id == blank
      assign ebook_id_int = ebook_id | plus: 0
      assign filtered_products_recommendations = filtered_products_recommendations | reject: 'id', ebook_id_int
    endunless
  endfor

  assign filtered_products_recommendations = filtered_products_recommendations | sort: 'published_at' | reverse | compact
%}

<style>
  #Section-other-suggestions-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  #Section-other-suggestions-{{ section.id }} ul {
    padding: 0;
    list-style-type: none;
  }

  #Section-other-suggestions-{{ section.id }} .slider__slide:first-child {
    margin-left: unset !important;
  }

  @media screen and (max-width: 989px) {
    .topic-section {
      max-width: var(--page-width) !important;
      margin: 0 auto !important;
      padding: 0 1.5rem !important;
    }
  }
</style>

{% if filtered_products_recommendations.size > 0 and filtered_products_recommendations.first != blank %}
  <section
    id="Section-other-suggestions-{{ section.id }}"
    class="related-products page-width-desktop scroll-trigger animate--slide-in"
  >
    <div class="topic-section title-wrapper--self-padded-tablet-down">
      <h1 class="title inline-richtext h1">Outras sugestões</h1>
    </div>

    <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %} slider-component-desktop{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <ul
        id="{{ related_slider_id }}"
        data-id="{{ section.id }}"
        class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down slider slider--desktop slider--tablet grid--peek"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
        {% for recommendation in filtered_products_recommendations limit: 16 %}
          <li
            id="Slide-{{ section.id }}-related-{{ forloop.index }}"
            class="grid__item slider__slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% render 'card-product',
              card_product: recommendation,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              section_id: section.id,
              quick_add: section.settings.quick_add
            %}
          </li>
        {% endfor %}
      </ul>

      <div class="slider-buttons">
        <button
          type="button"
          class="slider-button slider-button--prev"
          name="previous"
          aria-label="{{ 'general.slider.previous_slide' | t }}"
          aria-controls="{{ related_slider_id }}"
        >
          <span class="svg-wrapper">{{- 'icon-caret.svg' | inline_asset_content -}}</span>
        </button>
        <button
          type="button"
          class="slider-button slider-button--next"
          name="next"
          aria-label="{{ 'general.slider.next_slide' | t }}"
          aria-controls="{{ related_slider_id }}"
        >
          <span class="svg-wrapper">{{- 'icon-caret.svg' | inline_asset_content -}}</span>
        </button>
      </div>
    </slider-component>
  </section>
{% endif %}

{% schema %}
{
  "name": "Outras Sugestões",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_collection.content"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.featured-collection.settings.full_width.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "limit": 1,
  "presets": [
    {
      "name": "Outras Sugestões",
      "category": "t:sections.featured-product.settings.product.label"
    }
  ]
}
{% endschema %}
