{% liquid
  assign text = product.description
  if text
    assign text_parts = text | split: '<h5>'
  endif
%}

<style>
  #Section-product-description-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  #Section-product-description-{{ section.id }} ul {
    padding: 0;
    list-style-type: none;
  }

  #Section-product-description-{{ section.id }} .slider__slide:first-child {
    margin-left: unset !important;
  }

  @media screen and (max-width: 749px) {
    .topic-section {
      max-width: var(--page-width) !important;
      margin: 0 auto !important;
      padding: 0 1.5rem !important;
    }

    .topic-section:has(.detalhes) {
      padding: 0 !important;
    }
  }
</style>

<section
  id="Section-product-description-{{ section.id }}"
  class="page-width-desktop scroll-trigger animate--slide-in"
>
  <div class="product__description rte quick-add-hidden">
    {% if text_parts[0] != blank %}
      <div class="topic-section">
        <h1 class="title inline-richtext h1">Sinopse</h1>
        {{ text_parts[0] }}
      </div>
    {% endif %}

    {% for part in text_parts offset: 1 %}
      {% if part contains '</h5>' %}
        {% assign topic_data = part | split: '</h5>' %}
        {% assign topic_name = topic_data.first | strip %}
        {% assign topic_content = topic_data.last %}

        {% assign cleaned_content = topic_content
          | strip_html
          | strip
          | replace: '&nbsp;', ''
          | replace: '&#160;', ''
          | replace: '\n', ''
          | replace: '\r', ''
          | replace: '\t', ''
          | strip
        %}

        {% if cleaned_content != blank and topic_name != topic_content %}
          {% if topic_name != 'Detalhes' %}
            <div class="topic-section">
              <h1 class="title inline-richtext h1">{{ topic_name }}</h1>
              {{ topic_content }}
            </div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-product.blocks.product-details.name",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_collection.content"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.featured-collection.settings.full_width.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "limit": 1,
  "presets": [
    {
      "name": "t:sections.main-product.blocks.product-details.name",
      "category": "t:sections.featured-product.settings.product.label"
    }
  ]
}
{% endschema %}
